<div class="col-lg-8" id="about_lbox">
    <div class="panel panel-default">
    <div class="panel-heading">ABOUT</div>
    <div class="panel-body">
        <pre>
▒██   ██▒  ██████   ██████  ▒█████   ██▀███  
▒▒ █ █ ▒░▒██    ▒ ▒██    ▒ ▒██▒  ██▒▓██ ▒ ██▒
░░  █   ░░ ▓██▄   ░ ▓██▄   ▒██░  ██▒▓██ ░▄█ ▒
 ░ █ █ ▒   ▒   ██▒  ▒   ██▒▒██   ██░▒██▀▀█▄  
▒██▒ ▒██▒▒██████▒▒▒██████▒▒░ ████▓▒░░██▓ ▒██▒
▒▒ ░ ░▓ ░▒ ▒▓▒ ▒ ░▒ ▒▓▒ ▒ ░░ ▒░▒░▒░ ░ ▒▓ ░▒▓░
░░   ░▒ ░░ ░▒  ░ ░░ ░▒  ░ ░  ░ ▒ ▒░   ░▒ ░ ▒░
 ░    ░  ░  ░  ░  ░  ░  ░  ░ ░ ░ ▒    ░░   ░ 
 ░    ░        ░        ░      ░ ░     ░     
        </pre>
        <p>XSS'OR - Hack with JavaScript.<br />
            I will try to evolve XSS'OR. Yes, i have more ideas. But if you have some good ideas, please also contact me:<br />
            <code>evilcos@gmail.com</code>, Twitter: <code>@evilcos</code>
        </p>
        <p><code>Open source: <a href="https://github.com/evilcos/xssor2" target="_blank">https://github.com/evilcos/xssor2</a></code></p>
        <p><span class="label label-danger">SLOGAN</span></p>
        <p>BE EVIL, DON'T BE BAD.</p>
        <p><span class="label label-danger">THANKS</span></p>
        <p><code><a href="http://jsbeautifier.org/" target="_blank">JS Beautifier</a></code>
            <code><a href="https://github.com/brix/crypto-js" target="_blank">crypto-js</a></code>
            <code>evi1m0</code>
            <code>jackmasa</code>
            <code>xisigr</code>
            <code>chou1551</code>
            <code>gzhappysky</code>
            <code>...</code>
        </p>
    </div>
    </div>
</div>
<div class="col-lg-4" id="about_rbox">
    <div class="panel panel-default">
    <div class="panel-heading">CHANGELOG</div>
    <div class="panel-body">
        <p><span class="label label-danger">XSS'OR V2</span></p>
        <p><code>UPDATE: 2017/--/--</code></p>
        <p>*. Click <a href="https://github.com/evilcos/xssor2#changelog" target="_blank">here</a> to view changelog.</p>
        <p><span class="label label-danger">XSS'OR V1</span></p>
        <p><code>UPDATE: 2008/04/05</code></p>
        <p>*. Online: <a href="http://evilcos.me/lab/xssor" target="_blank">http://evilcos.me/lab/xssor</a></p>
        <p>*. Open source: <a href="https://github.com/evilcos/xssor" target="_blank">https://github.com/evilcos/xssor</a></p>
    </div>
    </div>
</div>

