      <div class="panel panel-default">
      <div class="panel-heading">VECTOR CODZ</div>
      <div class="panel-body"> 
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th width="92px">CODZ</th>
                <th width="280px">DESC</th>
                <th>AUTHOR</th>
                <th>UPDATE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="/s/payload/xssmisc.txt" target="_blank">XSSMisc</a></td>
                <td>A XSS fuzzing misc.</td>
                <td>evilcos</td>
                <td>2017/--</td>
              </tr>
              <tr>
                <td><a href="https://github.com/masatokinugawa/filterbypass/wiki/Browser's-XSS-Filter-Bypass-Cheat-Sheet" target="_blank">BXFBypass</a></td>
                <td>Browser's XSS Filter Bypass Cheat Sheet.</td>
                <td>Masato</td>
                <td>2017/--</td>
              </tr>
              <tr>
                <td><a href="https://www.owasp.org/index.php/XSS_Filter_Evasion_Cheat_Sheet" target="_blank">RSnakeXSS</a></td>
                <td>Classical XSS Filter Evasion Cheat Sheet.</td>
                <td>RSnake</td>
                <td>2017/02</td>
              </tr>
              <tr>
                <td><a href="http://html5sec.org/" target="_blank">HTML5Sec</a></td>
                <td>More than HTML5 Security Cheatsheet.</td>
                <td>.mario</td>
                <td>2017/01</td>
              </tr>
            </tbody>
          </table> 
      </div>
      </div>
      <div class="panel panel-default">
      <div class="panel-heading">PAYLOAD CODZ</div>
      <div class="panel-body">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th width="92px">CODZ</th>
      <th style="width:280px;">DESC</th>
      <th>AUTHOR</th>
      <th>UPDATE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/beefproject/beef/tree/master/modules" target="_blank">BeEF</a></td>
      <td>Browser Exploitation Framework Project.</td>
      <td>BeEF</td>
      <td>2017/--</td>
    </tr>
    <tr>
      <td><a href="http://server.n0tr00t.com/chrome/ext_probe.html" target="_blank">ExtProbe</a></td>
      <td style="word-break:break-all;">Chrome installed extensions/plugins.</td>
      <td>evi1m0</td>
      <td>2017/01</td>
    </tr>
    <tr>
      <td><a href="/s/payload/iamanewbotnamedcorsbot.txt" target="_blank">CORSBOT</a></td>
      <td style="word-break:break-all;">IAMANEWBOTNAMEDCORSBOT.</td>
      <td>evilcos</td>
      <td>2017/01</td>
    </tr>
    <tr>
      <td><a href="https://github.com/evilcos/xssprobe" target="_blank">XSSProbe</a></td>
      <td>A small but classical XSS probe.</td>
      <td>evilcos</td>
      <td>2014/01</td>
    </tr>
    <tr>
      <td><a href="https://github.com/evilcos/xss.swf" target="_blank">xss.swf</a></td>
      <td>A tiny tool for Flash hacking.</td>
      <td>evilcos</td>
      <td>2013/03</td>
    </tr>
    <tr>
      <td><a href="/s/payload/attackapi.txt" target="_blank">AttackAPI</a></td>
      <td>JavaScript AttackAPI from GNUCITIZEN.</td>
      <td>pdp</td>
      <td>2007/01</td>
    </tr>
  </tbody>
</table>
      </div>
      </div>
